[submodule "my_plugins/vimtex"]
	path = my_plugins/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "my_plugins/vim-obsession"]
	path = my_plugins/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "my_plugins/vim-startify"]
	path = my_plugins/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "my_plugins/neosnippet.vim"]
	path = my_plugins/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "my_plugins/magma-nvim"]
	path = my_plugins/magma-nvim
	url = https://github.com/dccsillag/magma-nvim.git
